::root{
    --main-color: #ffb3b3;
}

/* Temel Stiller */
.theme1 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #fff;
}

/* Tablo Stilleri */
.theme1 table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-color: #ccc;
}

.theme1 th, .theme1 td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.theme1 th {
    background-color: rgb(0, 247, 255);
    color: white;
}

.theme1 tr:hover {
    background-color: #f5f5f5;
}

.theme1 thead {
    text-transform: capitalize;
}

/* Form Stilleri */
.theme1 #dataForm {
    margin-bottom: 20px;
}

.theme1 #dataForm input[type="text"] {
    padding: 8px;
    margin: 5px 0;
    width: 20%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Buton Stilleri */
.theme1 button {
    background-color: var(--main-color);
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.theme1 button:hover {
    background-color: var(--main-color);
}

/* Sayfalama Stilleri */
.theme1 #pagination {
    text-align: center;
}

.theme1 #pagination button {
    padding: 5px 10px;
}

/* Yardımcı Sınıflar */
.theme1 .hidden {
    display: none;
}

/* Input Stilleri */
.theme1 input {
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Karanlık Mod Stilleri */
.dynamic-table.dark-mode {
    background-color: #333;
    color: #fff;
}

.dynamic-table.dark-mode .dynamic-table {
    background: #222;
}

.dynamic-table.dark-mode table {
    border-color: #444;
}

.dynamic-table.dark-mode th {
    background-color: #555;
}

.dynamic-table.dark-mode tr:hover {
    background-color: #444;
}

.dynamic-table.dark-mode button {
    background-color: #555;
}

.dynamic-table.dark-mode button:hover {
    background-color: #666;
}




.responstable {
    margin: 1em 0;
    width: 100%;
    background: #fff;
    color: #024457;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    overflow: hidden;
  }
  .responstable tr {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  .responstable tr:nth-child(odd) {
    background-color: #eaf3f3;
  }
  .responstable th {
    display: none;
    border: 1px solid #fff;
    background-color: var(--main-color);
    color: #fff;
  }
  .responstable td {
    display: block;
  }
  .responstable td:first-child {
    padding-top: 0.5em;
  }
  .responstable td:last-child {
    padding-bottom: 0.5em;
  }
  .responstable td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 8em;
    display: inline-block;
  }
  @media (min-width: 480px) {
    .responstable td:before {
      display: none;
    }
  }
  @media (min-width: 480px) {
    .responstable td {
      border: 1px solid #d9e4e6;
    }
  }
  .responstable th,
  .responstable td {
    text-align: left;
    margin: 0.5em 1em;
  }
  @media (min-width: 480px) {
    .responstable th,
    .responstable td {
      display: table-cell;
      padding: 1em;
    }
    .responstable th:first-child,
    .responstable td:first-child {
      text-align: center;
    }
  }

  footer.pagination-controls {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.responstable.dynamic-table.dark-mode tr:nth-child(odd) {
  background-color: #666666;
}